<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    .card
    {
        background-color: antiquewhite;
        max-width: 1150px;
    }
    .basic
    {
       display: flex;
    justify-content: space-between;
    padding: 0px 70px 0px 50px;
    }
    .buttton
    {
        display:flex ;
        max-width: 1150px;
        justify-content: space-between;
        margin-top: 30px;    
    }
    .btn1
    {
        height: 20px;
        background-color: bisque;
        width: 50px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .main
    {
        background-color: azure;
        max-width: 1260px;
        padding-top: 50px;
        padding-left: 80px;
        padding-right: 80px;
    }
    </style>
</head>
<body>
    <div class="main">
        <div class="card">
                <div class="card1" id="1">
                    <fieldset>
                        <legend>
                            <h4>Basic Details </h4>
                        </legend>
                        <div class="basic">
                            <div class="one">
                                    <p>
                                        <%- data("firstname" ,"alpesh" ,"fname" ,"must")%>
                                    </p>
                                    <p>
                                        <%- data("Designation" ,"" ,"designation" ,"must")%>
                                    </p>
                                    <p>
                                        <%- dropdown("state" ,["Gujrat", "Rajsthan","Maharastra" ],"Rajsthan" ,"must")%>
                                    </p>
                                    <p>
                                        <%- data("Email" ,"" ,"email" ,"must")%>
                                    </p>
                                    <p>
                                        <%- radio("gender" ,"female" ,["male","female"])%>
                                    </p>
                                    <p>
                                    <%- data("Address" ,"" ,"address" ,"must")%>
                                </p>   
                            </div>
                            <div class="two">

                                    <p>
                                        <%- data("Last Name" ,"" ,"lname" ,"must")%> 
                                    </p>
                                    <p>
                                        <%- data("Birthdate" ,"" ,"dob" ,"must")%>
                                    </p>
                                    <p>
                                        <%- data("Phone no" ,"" ,"phone" ,"must")%>
                                    </p>
                                    <p>
                                        <%- dropdown("Relationship Status" ,["Unmerried", "Merried","Seperated" ],"" ,"must")%>
                                    </p>

                                    <p>
                                        <%- data("City" ,"" ,"city" ,"must")%>
                                    </p>
                                    <p>
                                        <%- data("Zipcode" ,"" ,"zipcode" ,"must")%>
                                    </p>
                            
                            </div>
                        </div>
                    </fieldset>  
                </div>
                
                <div class="card2" id="2">     
                        <fieldset>
                            <legend>
                                <h4>Education Details</h4>
                            </legend>
                            <div class="education">
                                <h4>Ssc Result</h4>
                                <div class="ssc">
                                        <%- data("Name of board" ,"" ,"sscnameofboard" ,"must")%>
                                        <%- data("Passing Year" ,"" ,"sscpassingyear" ,"must")%>
                                        <%- data("Percentage " ,"" ,"sscpercentage" ,"must")%>
                                </div>
                                <hr>
                                <h4>Hsc/Diploma Result</h4>
                                <div class="hsc">
                                        <%- data("Name of Board" ,"" ,"hscnameofboard" ,"must")%>
                                        <%- data("Passing Year" ,"" ,"hscpassingyear" ,"must")%>
                                        <%- data("Percentage " ,"" ,"hscpercentage" ,"must")%>
                                </div>
                                <hr>
                                <h4>Bachelor Degree</h4>
                                <div class="bachelor">
                                    <%- data("Name of Board" ,"" ,"bachelorcourse" ,"must")%>
                                    <%- data("Passing Year" ,"" ,"bachelorpassingyear" ,"must")%>
                                    <%- data("Percentage " ,"" ,"bachelorpercentage" ,"must")%>
                                
                                </div>
                                <hr>
                                <h4>Master Degree</h4>
                                <div class="master">
                                    <%- data("Name of Board" ,"" ,"mastercourse" ,"must")%>
                                    <%- data("Passing Year" ,"" ,"masterpassingyear" ,"must")%>
                                    <%- data("Percentage " ,"" ,"masterpercentage" ,"must")%>
                            </div>
                        </fieldset>
                </div>
                
                <div class="card3" id="3">
                    <fieldset>
                        <legend>
                            <h4>Work Experience</h4>
                        </legend>
                        <div class="experience1">
                            <%- data("Company Name" ,"" ,"companyname1" ,"")%>
                            <%- data("Designation" ,"" ,"designation1" ,"")%>
                            <%- data("From" ,"" ,"from1" ,"datevalidte")%>
                            <%- data("To" ,"" ,"to1" ,"datevalidte")%>
                        </div>
                        <div class="experience2">
                            <%- data("Company Name" ,"" ,"companyname2" ,"")%>
                            <%- data("Designation" ,"" ,"designation2" ,"")%>
                            <%- data("From" ,"" ,"from2" ,"datevalidte")%>
                            <%- data("To" ,"" ,"to2" ,"datevalidte")%>
                        </div>
                        <div class="experience3">
                            <%- data("Company Name" ,"" ,"companyname3" ,"")%>
                            <%- data("Designation" ,"" ,"designation3" ,"")%>
                            <%- data("From" ,"" ,"from3" ,"datevalidte")%>
                            <%- data("To" ,"" ,"to3" ,"datevalidte")%>
                        </div>
                    </fieldset>
                </div>
                <div class="card4" id="4">
                    <%- dropdown("state" ,["gujrat", "rajstahn" ],"rajstahn" ,"must")%>
                </div>
                <div class="card5" id="5">
                    <%- checkbox("state" ,["gujrat", "rajstahn" ],"rajstahn" ,"must")%>
                </div>
                <div class="card6" id="6">
                    <div class="refer">
                        <fieldset>
                            <legend>
                                <h4>Reference Contact</h4>
                            </legend>
                            <div class="ref1">
                        
                                    <%- data("Name" ,"" ,"name1" ,"")%>
                                    <%- data("Contact Number" ,"" ,"contactnum1" ,"")%>
                                    <%- data("Relation" ,"" ,"relation1" ,"")%>
                            </div>
                            <div class="ref2">
                                    <%- data("Name" ,"" ,"name2" ,"")%>
                                    <%- data("Contact Number" ,"" ,"contactnum2" ,"")%>
                                    <%- data("Relation" ,"" ,"relation2" ,"")%>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="card7" id="7">
                    <div class="prefer">
                        <fieldset>
                                <legend>
                                    <h4>Preference</h4>
                                </legend>
                                <div class="pref1">
                                            <%- dropdown("Prefered Location" ,["Ahmedabad", "Rajkot" ],"" ,"must")%>
                                        <%- data("Notice Period" ,"" ,"noticeperiod" ,"must")%>
                                        <%- dropdown("Department" ,["development", "design","marketing" ],"" ,"must")%>
                                </div>
                                <div class="pref2">
                                        <%- data("Expected CTC" ,"" ,"expectedctc" ,"must")%>
                                        <%- data("Current CTC" ,"" ,"currentctcc" ,"must")%>
                                </div>
                        </fieldset>
                    </div>
                </div>
        </div>
    </div>
    <div class="buttton">

            <div class="btn1">    
                <p onclick="btn_prev()">prev</p>
            </div>
            <div class="btn1">
                <p onclick="btn()">next</p>
            </div>
        


    </div>  
    <script>
        let card1 = document.querySelector(".card1");
        let card2   = document.querySelector(".card2");
        let card3 = document.querySelector(".card3");  
        let card4 = document.querySelector(".card4");
        let card5 = document.querySelector(".card5");
        let card6 = document.querySelector(".card6");
        let card7 = document.querySelector(".card7");
        card2.style.display = "none";
        card3.style.display = "none";
        card4.style.display = "none";
        card5.style.display = "none";
        card6.style.display = "none";
        card7.style.display = "none";
        var count  = 1;
        function btn(id)
        {   
            if(count<=6)
            {
                var target_card = document.getElementById(count.toString())
                target_card.style.display= "none";

                count++;        
                var target_card = document.getElementById(count.toString())
                target_card.style.display= "block";
            }
        }
        function btn_prev(id)
        {   
            if(count>=2)
            {
                var target_card = document.getElementById(count.toString())
                target_card.style.display= "none";
                count--;        
                var target_card = document.getElementById(count.toString())
                target_card.style.display= "block";
            
            }
        }
    </script>
</body>
</html>