<% if (numberOfPages>1) { %>

  <div class="btn">

    <div class="btc">
      <% if (page> 1) { %>
        <a href="/sort?page=1&ord=<%=or%>&name=<%= order %>">
          <<< /a>
            <% } %>

    </div>

    <div class="btc">
      <% if (page> 1) { %>
        <a href="/sort?page=<%= page - 1%>&ord=<%=or%>&name=<%= order %>">
          << /a>


            <% } %>


    </div>



    <div class="btc">


      <lable>
        <%=page%>
      </lable>
    </div>


    <div class="btc">

      <% if (page < numberOfPages) { %>
        <a href="/sort?page=<%= page + 1%>&ord=<%=or%>&name=<%= order %>">></a>
        <% } %>


    </div>



    <div class="btc">

      <% if (page < numberOfPages) { %>
        <a href="/sort?page=<%=numberOfPages%>&ord=<%=or%>&name=<%= order %>">>></a>

        <% } %>



    </div>
  </div>



  </div>








  <% } %>