<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .gap
       {
        display: flex;
        
       }
       .txtheader
            {
                color: rgb(111, 120, 138);
                font-weight: bolder;
            }
            .container
            {
                max-width: 1080;
                padding: 20px;
                margin: 0 auto;
                background-color:#ECEFF4;
        
            }
            .nav
            {
                display: flex;
                justify-content: space-between;
                background-color:#51f0a9;
                margin: -20px;
                margin-bottom: 80px;
            }
            .btnprofile
            {
                display: flex;
                margin-right: 100px;
                gap: 20px;
                align-items: center;
            }
         
    </style>
</head>
<body>
    
  <div class="container">


    <div class="nav container">
  
          <div class="txtheader">
              <h1>GENRATE COMBO BOX</h1>
          </div>
  
          <div class="btnprofile">
              <div>
  
                  <a href="/dashboard"> DASHBOARD</a>
              </div>
              <div>
                  <P>  <i class="fa-regular fa-user fa-2xl"></i> </P> 
              </div>
          </div>
      </div>
          <div>
          <p>Enter which control you want to genrate</p>
            <form action="/combo" method="post">
        
                <input type="text" name="txtbox">
                <input type="submit" value="go">
        
                
            </form>
  
          </div>
  
  
      <% if (count==1) { %>
       
        
            <% if (data.length>0) { %>
        
        
        
        
                <% if (type=="radio") { %>
                 
        
                 <div class="gap">
  
  
                  <label for="cars"><%= name1 %>:</label>
                                       <% data.forEach(element => { %>
                                         
                                
                                     
                                               <input type="radio" id=<%= name1 %>  value="<%= element["option_value"] %>"    
                                               <% if (element["option_value"]=="male") { %>
                                                      checked
                                               <% } %>>
                                               <label for="html"><%= element["option_value"] %> </label><br>
                                                   
                                                
                                     
                   
                                         
                                         <% }) %>
  
                 </div>
                
  
                <% } else if (type=="dropdown") { %>
                         
                    
                    <label for="cars"><%= name1 %>:</label>
          
                    <select name="cars" id="cars">
                    <% data.forEach(element => { %>
                          
                        <option value="<%= element["option_value"] %>" 
                          <% if (element["option_value"]==selec) { %>
                          selected
                   <% } %> >
  
                          <%= element["option_value"] %> 
                        
  
                        </option>
     
                <% }) %>
                
              </select> 
                      
                 <%   } else if (type=="checkbox") { %>
                  
  
                    <div class="gap">
                  <label for="cars"><%= name1 %>:</label>
                   <% data.forEach(element => { %>
                         
                
                     
                     <input type="checkbox" id=<%= name1 %>  value="<%= element["option_value"] %>" <% if (element["option_value"]=="hindi") { %>
                      checked
               <% } %>>
                     <label for="html"><%= element["option_value"] %> </label><br>
                         
                      
           
       
               
               <% }) %>%>
  
              </div>
  
  
  
                 
                  
            <% } %>
  
  
            <% } %>
  
      <% } %>
       
  </div>

      <script>
           var count =  0;
      
      </script>
</body>
</html>